style{
    box-sizing:border-box;
    /* border:none;
    outline:none;
    border-bottom: 1px; */
}
body{
    font-family:Arial, sans-serif;
    background-color: white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-block: 20px; */
}    


h1{
    align-self: center;
    margin-bottom: 30px;
}
#taskInput{
    background-color: transparent;
    border:none;
    outline:none;
    border-bottom: 1px solid #218838;
}

#addButton{
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;

}

#addButton:hover{
    background-color: forestgreen;
}

#taskList li{
    background-color: white;
    padding:10px;
    margin:5px;
    width:300px;
    display:flex;
    justify-content: space-between;
}
#taskList li button{
    background-color: azure;
    color: white;
    border:white;
    padding: 5px;
}