.style {
      box-sizing: border-box;
    }

    body {
      font-family: Arial, sans-serif;
      background: #f4f7f8;
      margin: 20px;
      padding: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 300px;
      width:auto;
    }

    .signup-container {
      background: #fff;
      padding: 30px 40px;
      border-radius: 8px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      width: fit-content;
      max-width: 300px;
    }

    .signup-container h2 {
      text-align: center;
      margin-bottom: 25px;
      color: #333;
    }

    .form-group {
      margin-bottom: 15px;
    }

    label {
      display: block;
      margin-bottom: 6px;
      color: #555;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      transition: border-color 0.3s;
    }

    input[type="email"]:focus,
    input[type="password"]:focus {
      border-color: #007bff;
      outline: none;
    }

    .submit-btn {
      width: 110%;
      margin-top: 20px;
      padding: 12px;
      background-color: #007bff;
      border: none;
      color: #fff;
      font-size: 16px;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s;
      
    }

    
    .submit-btn:hover {
      background-color: #0056b3;
    }